* {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
}

body {
  background: linear-gradient(
    90deg,
    rgb(35, 35, 36) 0%,
    rgb(129, 129, 157) 100%
  );
}
@media screen and (min-width: 614px) {
  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: auto;
    margin-top: 7.5em;
    padding: 1rem;
    background: rgb(0, 7, 16);
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
      0px 6px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
    text-transform: capitalize;
    font-size: larger;
  }
  .Container > form {
    position: relative;
    margin-top: 7rem;

    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Style input */
  .Container > form > input[type="text"] {
    position: relative;

    padding: 1em;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    border-right: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  .EditInput {
    position: relative;
    border: 2px solid #149fff;
    background: transparent;

    border-right: none;
    padding: 0.5em;
    border: 2px solid #149fff;
    outline: none;
    color: white;
  }
  .Container > form > input::placeholder {
    color: #e2e2e2;
  }
  .Container > form > button {
    position: relative;

    padding: 1em;
    border-radius: 0 40px 0 0;
    border: 2px solid #5d0cff;
    outline: none;
    border-left: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    cursor: pointer;
  }

  .Container > ul {
    list-style: none;
    width: 80%;
    margin-top: 20px;
    padding: 1em;
  }

  .ListItem {
    font-family: "Walter Turncoat", cursive;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: larger;
    cursor: grab;
    padding: 0.2em;
    background: linear-gradient(
      90deg,
      rgb(128, 127, 129) 0%,
      rgb(142, 177, 210) 100%
    );
    border: none;
    border-radius: 5px;
  }

  .Complete {
    text-decoration: line-through;
    opacity: 0.4;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: larger;
    padding: 0.2em;

    background: linear-gradient(
      90deg,
      rgb(128, 127, 129) 0%,
      rgb(142, 177, 210) 100%
    );
    border: none;
    border-radius: 5px;
  }
  .ListItemIcons {
    display: flex;
    width: 15%;
    justify-content: space-between;
    padding: 0;
  }

  .EditForm {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  EditForm > input {
    border-right: none;
    margin-right: 0;
  }

  .SaveBtn {
    border: 2px solid #149fff;

    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 0.5em;
    border: 2px solid #149fff;
    margin-right: 5em;
    cursor: pointer;
    border-radius: 5px;
    border-left: none;
  }
  .CancelBtn {
    border: none !important;
    border: 2px solid #149fff;
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 0.5em;
    cursor: pointer;
    margin-right: 0px;
    border-radius: 5px;
  }
  .DeleteIcon {
    color: red;
    cursor: pointer;
  }
  .EditIcon {
    color: yellowgreen;
    cursor: pointer;
  }
  .Sort {
    position: relative;
    top: 10px;
    cursor: pointer;
    /* padding: 1em; */
    border-radius: 4px 0 0 4px;
    /* border: 2px solid #5d0cff; */
    outline: none;
    color: #e3a3a3;
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 614px) {
  .Container {
    position: relative;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 399px;
    padding: 1rem;
    background: rgb(0, 7, 16);
    border-radius: 5%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
      0px 6px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
    text-transform: capitalize;
    font-size: small;
  }
  .Container > form {
    padding-top: 2em;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Style input */
  .Container > form > input[type="text"] {
    padding: 1em;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    border-right: none;
    /* width: 320px; */
    background: transparent;
    color: #fff;
  }
  .EditInput {
    border: 2px solid #149fff;
    background: transparent;

    border-right: none;
    padding: 0.5em;
    border: 2px solid #149fff;
    outline: none;
    color: white;
  }
  .Container > form > input::placeholder {
    color: #e2e2e2;
  }
  .Container > form > button {
    padding: 1em;
    border-radius: 0 40px 0 0;
    border: 2px solid #5d0cff;
    outline: none;
    border-left: none;
    /* width: 320px; */
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    cursor: pointer;
  }

  .Container > ul {
    list-style: none;
    width: 80%;
    margin-top: 20px;
    padding: 1em;
  }

  .ListItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: small;
  }

  .Complete {
    text-decoration: line-through;
    opacity: 0.4;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: small;
  }
  .ListItemIcons {
    display: flex;
    width: 15%;
    justify-content: space-between;
    padding: 0;
  }

  .EditForm > {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .SaveBtn {
    border: 2px solid #149fff;

    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 0.5em;
    border: 2px solid #149fff;
    margin-right: 3rem;
    cursor: pointer;
  }
  .CancelBtn {
    border: none !important;

    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 0.5em;
    cursor: pointer;
  }
  .DeleteIcon {
    color: red;
    cursor: pointer;
  }
  .EditIcon {
    color: yellowgreen;
    cursor: pointer;
  }
  .Sort {
    position: relative;
    top: 10px;
    cursor: pointer;
    /* padding: 1em; */
    border-radius: 4px 0 0 4px;
    /* border: 2px solid #5d0cff; */
    outline: none;
    color: #e3a3a3;
    width: 20px;
    height: 20px;
  }
}

