body {
  margin: 0;
  padding: 0;
  background: grey;
}
.Title {
  font-family: "Walter Turncoat", cursive;
  margin-bottom: 1px;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: auto auto;
  margin-top: 7em;
  padding: 1rem;
  background: rgb(0, 7, 16);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  font-size: larger;
}
.Container > form {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Container > form > input[type="text"] {
  font-family: "Walter Turncoat", cursive;
  padding: 1em;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  border-right: none;
  width: 320px;
  background: transparent;
  color: #fff;
}
.EditInput {
  border: 2px solid #149fff;
  background: transparent;
  font-family: "Walter Turncoat", cursive;
  border-right: none;
  padding: 0.5em;
  border: 2px solid #149fff;
  outline: none;
  color: white;
}
.Container > form > input::placeholder {
  color: #e2e2e2;
}
.Container > form > button {
  font-family: "Walter Turncoat", cursive;
  padding: 1em;
  border-radius: 0 40px 0 0;
  border: 2px solid #5d0cff;
  outline: none;
  border-left: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  cursor: pointer;
}

.Container > ul {
  list-style: none;
  width: 95%;
  margin-top: 20px;
  padding: 1em;
  text-transform: capitalize;
}

.ListItem {
  font-family: "Walter Turncoat", cursive;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: larger;
  cursor: grab;
  padding: 0.2em;
  background: linear-gradient(
    90deg,
    rgb(128, 127, 129) 0%,
    rgb(142, 177, 210) 100%
  );
  border: none;
  border-radius: 5px;
}
.ItemTitle {
  font-family: "Walter Turncoat", cursive;
}

.Complete {
  font-family: "Walter Turncoat", cursive;
  text-decoration: line-through;
  opacity: 0.4;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: larger;
  padding: 0.2em;
  background: linear-gradient(
    90deg,
    rgb(128, 127, 129) 0%,
    rgb(142, 177, 210) 100%
  );
  border: none;
  border-radius: 5px;
}
.ListItemIcons {
  display: flex;
  width: 15%;
  justify-content: space-between;
  padding: 0;
}

.EditForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
EditForm > input {
  border-right: none;
  margin-right: 0;
}

.SaveBtn {
  border: 2px solid #149fff;
  font-family: "Walter Turncoat", cursive;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 0.5em;
  border: 2px solid #149fff;
  margin-right: 9em;
  cursor: pointer;
  border-radius: 5px;
  border-left: none;
}
.CancelBtn {
  font-family: "Walter Turncoat", cursive;
  border: none !important;
  border: 2px solid #149fff;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 0.5em;
  cursor: pointer;
  margin-right: 0px;
  border-radius: 5px;
}
.DeleteIcon {
  color: red;
  cursor: pointer;
}
.EditIcon {
  color: yellowgreen;
  cursor: pointer;
}

.Sort {
  top: 10px;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-family: "Walter Turncoat", cursive;
  color: #e3a3a3;
  width: 35px;
  height: 35px;
}
.SortText {
  font-family: "Walter Turncoat", cursive;
}

@media screen and (min-width: 500px) and (max-width: 614px) {
  .Container {
    margin: auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 475px;
    margin: auto;
    margin-top: 5em;
    padding: 1rem;
    background: rgb(0, 7, 16);
    border-radius: 5%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
      0px 6px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
    text-transform: capitalize;
    font-size: small;
  }
  .Container > form {
    padding-top: 2em;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Container > form > input[type="text"] {
    padding: 1em;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    border-right: none;
    background: transparent;
    color: #fff;
  }
  .EditInput {
    border: 2px solid #149fff;
    background: transparent;

    border-right: none;
    padding: 0.5em;
    border: 2px solid #149fff;
    outline: none;
    color: white;
  }
  .Container > form > input::placeholder {
    color: #e2e2e2;
  }
  .Container > form > button {
    padding: 1em;
    border-radius: 0 40px 0 0;
    border: 2px solid #5d0cff;
    outline: none;
    border-left: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    cursor: pointer;
  }

  .Container > ul {
    list-style: none;
    width: 80%;
    margin-top: 20px;
    padding: 1em;
  }

  .ListItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: small;
  }

  .Complete {
    text-decoration: line-through;
    opacity: 0.4;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: small;
  }
  .ListItemIcons {
    display: flex;
    width: 15%;
    justify-content: space-between;
    padding: 0;
  }

  .EditForm > {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .SaveBtn {
    border: 2px solid #149fff;

    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 0.5em;
    border: 2px solid #149fff;
    margin-right: 3rem;
    cursor: pointer;
  }
  .CancelBtn {
    border: none !important;

    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 0.5em;
    cursor: pointer;
  }
  .DeleteIcon {
    color: red;
    cursor: pointer;
  }
  .EditIcon {
    color: yellowgreen;
    cursor: pointer;
  }
  .Sort {
    top: 10px;
    cursor: pointer;
    /* padding: 1em; */
    border-radius: 4px 0 0 4px;
    /* border: 2px solid #5d0cff; */
    outline: none;
    color: #e3a3a3;
    width: 20px;
    height: 20px;
  }
}
