.ListItem {
  color: #515255; 
  font-size: 15px; 
  font-family: "Libre Baskerville", serif; 
  line-height: 3px;  
  text-shadow: 0 1px 1px #fff; 
  padding-top: 8px;  
}

.ButtonClass {
  border-radius: 30%;
  border-color: aqua;
  border-style: inherit;
  margin: 5px;
  font-size: 17px; 
  font-family: "Libre Baskerville", serif;
}

button:hover {
  background-color: rgb(111, 114, 111);
}

.wrapper {
    background: gold;
}
  
@media screen and (min-width: 480px) {
  .wrapper {
    background-color: light green;
  }
}

body {
  background: rgb(255, 173, 65);
}

h1 { 
  color: #d54d7b; 
  font-family: "Great Vibes", cursive; 
  font-size: 70px; 
  line-height: 70px; 
  font-weight: normal; 
  margin-bottom: 15px; 
  margin-top: 15px; 
  text-shadow: 0 1px 1px #fff; 
}

p { 
  color: #7a7c7f; 
  font-size: 29px; 
  font-family: "Libre Baskerville", serif; 
  line-height: 20px; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff; 
  padding-top: 20px; 
}

p.byline { 
  font-style: italic; 
  color: #B6B6B6; 
  font-size: 24px; 
  margin-top: 20px; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff; 
}

nav { 
  color: #d54d7b; 
  font-family: "Great Vibes", cursive; 
  font-size: 15px; 
  line-height: 15px; 
  font-weight: normal; 
  margin-bottom: 15px; 
  margin-top: 15px; 
  text-shadow: 0 1px 1px #fff; 
}




