body {
	overflow-x: hidden;
	min-height: 100vh;
}

h1 {
	padding: 10px;
	font-weight: 300;
}

form {
	padding: 10px;
}

label {
	padding: 5px;
}

.title {
	color: white;
	margin: 5% 0 0;
	margin-top: 2%;
	text-shadow: 2px 2px rgb(29, 130, 135);
	font-family: 'Rock Salt', cursive;
}

.addTodoButton {
	margin-top: 3%;
	margin: 0 auto;
	min-width: 50%;
	padding-top: 15px;
	text-align: center;
}

.navigationButton {
	max-width: 50%;
	margin: 0 auto;
	margin-bottom: 5%;
	margin-top: 5%;
}

.todoList {
	width: 100%;
	padding: 20px;
	flex-direction: column;
	margin: 0 auto;
}

.currentList {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(180deg, rgb(1, 90, 94), rgb(0, 22, 23));
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	min-height: 100vh;
	text-align: center;
	font-family: 'Cabin Sketch', cursive;
}

.itemEdit {
	padding: 5px;
	color:rgb(212, 211, 215);
	font-weight: 700;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.item {
	padding: 5px;
	color:rgb(212, 211, 215);
	font-weight: 700;
	display: flex;
	flex-direction: row;
	text-align: center;
}

.item:hover {
	box-shadow: 1px 1px 8px 2px rgb(126, 203, 207);
	padding: 5px;
	height: 110%;
	width: 100%;
}

.removeTodo {
	bottom: 0;
	max-width: 50%;
}

@media screen and (max-width: 700px) {
	.addTodoButton {
		margin-top: 5%;
	}

	.todoList {
		padding: 10px;
	}

	.inputForm {
		display: flex;
		flex-direction: column;
		padding-bottom: 5px;
		margin-bottom: 10px;
		align-items: center;
	}

	.todoInput {
		margin-right: 2.5px;
	}

	.currentList{
		font-size: 40px;
	}

	.itemEdit {
		text-align: left;
		min-width: 80vw;
		align-items: center;
	}

	.item {
		display: flex;
		flex-direction: row;
		text-align: center;
		min-width: 80vw;
	}

	.removeTodo {
		max-height: 45px;
	}
}

@media screen and (min-width: 700px) {
	.floatingDiv {
		margin: 0 auto;
		top: 20vh;
		background-image: linear-gradient(180deg, rgb(1, 90, 94), rgb(0, 22, 23));
		position: fixed;
		z-index: 1000;
		min-width: 60vw;
		height: fit-content;
		box-shadow: 1px 1px 3px 2px rgb(126, 203, 207);
		border:4px outset rgb(16, 82, 87);
    -webkit-box-shadow: 1px 1px 3px 2px rgb(126, 203, 207);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	}

	.todoItems {
		padding-top: 7vh;
	}

	.inputForm {
		display: flex;
		flex-direction: column;
		margin: 0 25% 0;
	}
	
	.todoInput {
		padding: 10px;
	}

	.addTodoButton {
		margin-top: 5%;
		margin-bottom: 5%;
		width: inherit;
		padding: 10px;
	}

	.todoList {
		padding: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 80%;
		box-shadow: 1px 1px 8px 2px rgb(126, 203, 207);
		background-color: rgb(0, 46, 48);
		margin-bottom: 40px;
	}

	.currentList{
		font-size: 30px;
	}

	.removeTodo {
		margin: 0 auto;
		margin-right: 0;
	}
}