html * {
	font-family: 'Staatliches', cursive;
}

body {
	overflow-x: hidden;
	min-height: 100vh;
}

h1 {
	padding: 10px;
}

form {
	padding: 10px;
}

label {
	padding: 5px;
}

.title {
	margin: 5% 0 0;
}

.addTodoButton {
	margin-top: 3%;
	width: 25%;
	padding-top: 15px;
	text-align: center;
}

.todoList {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.currentList {
	display: grid;
	grid-template-rows: auto;
	background-color: rgb(185, 127, 52);
	background-attachment: fixed;
	min-height: 100vh;
	text-align: center;
}

.item {
	padding: 5px;
}

@media screen and (max-width: 700px) {
	.todoList {
		padding: 10px;
	}

	.inputForm {
		display: flex;
		flex-direction: column;
		padding-bottom: 5px;
		margin-bottom: 10px;
		align-items: center;
	}

	.todoInput {
		margin-right: 2.5px;
	}

	.currentList{
		font-size: 40px;
	}

	.item {
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		text-align: center;
	}
}

@media screen and (min-width: 700px) {
	.addTodoButton {
		margin-top: 5%;
		width: 50%;
	}

	.inputForm {
		max-width: 80%;
		margin: 0 25% 0;
		min-height: 20%;
	}

	.todoList {
		display: grid;
		grid-template-columns: 33% 33% 33%;
		column-gap: 1%;
		row-gap: 2%;
		justify-self: center;
	}

	.todoInput {
		margin-right: 10px;
		padding: 10px;
	}

	.currentList{
		font-size: 30px;
	}

	.item {
		color: black;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.removeTodo {
		bottom: 0;
		max-width: 50%;
		margin: 0 auto;
	}
}